 /* CSS Reset */
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 16px;
     /* base sise for using rem units */
 }

 /*Main Grid layout*/
 .dashboard {
     display: grid;
     grid-template-columns: 250px 1fr;
     grid-template-rows: auto 1fr;
     /* gap: 1rem; */
     height: 100vh;
 }

 .main-header {
     grid-column: 1 / 2;
     grid-row: 1;
     background-color: bisque;
 }

 #sidebar {
     grid-column: 1 / 2;
     grid-row: 2;
 }

 .sidebar {
     display: flex;
     flex-direction: column;
     background-color: #007bff;
 }

 .navigation ul li {
     display: flex;

     align-items: center;
     font-size: 1.5rem;
     margin-top: .5rem;


 }


 .main-content {
     grid-column: 2;
     grid-row: 2;

 }


 .navigation a {
     text-decoration: none;
     color: white;
     display: flex;
     align-items: center;
     width: 100%;
     margin-top: .5rem;
     font-size: 1.5rem;
     gap: 10px;


 }




 /*Fonts*/
 h2 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
 }

 /*icons*/
 .sidebar .icon {
     height: 1.5rem;
     fill: white;
     width: 1.5rem;

 }


 .search-icon .icon {
     height: 2rem;
 }

 .notification-bell .icon {
     height: 2rem;
 }

 ul {
     list-style: none;
     margin-left: 1.8rem;

     justify-content: center;
 }

 .projects .icon {
     height: 1.5rem;
     width: 1.5rem;

 }

 .favorite,
 .view,
 .share {
     background: none;
     border: none;
     cursor: pointer;
 }

 aside header {
     display: flex;
 }

 aside nav {
     display: flex;
     flex-direction: column;
     gap: 50px;
 }


 /* logo and design */
 .logo .icon {

     width: 50px;
     height: 50px;





 }



 .dashboard-title {
     padding: 1rem;
     color: white;
     text-align: center;

 }